body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
}
.mobile{
    width: 290px;
    height: 570px;
    background: #232120;
    margin: 10px auto;
    border-radius: 30px;
}
.oval{
    width: 60px;
    height: 12px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 29px;
}
.display{
    width: 260px;
    height: 430px;
    background: white;
    margin: 0 auto;
    position: relative;
    top: 65px;
}
.icon_name{
    text-align: center;
}
i{
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
}
#name{
    padding-top: 5px;
    font-size: 15px;

}
#date .date{
    float: left;
    width: 20%;
    font-size: 50px;
    position: relative;
    top: -16px;
    left: 5px;
}
.month{
    width: 80%;
    float: left;
    font-size: 13px;
    padding-left: 10px;
}

.day{
    width: 80%;
    float: left;
    padding-left: 10px;
}
.time{
    font-size: 19px;
    padding-left: 5px;
    position: absolute;
}
.icon{
    height: 25%;
}
.icon img{
    position: relative;
    
    left: 80px;
    height: 100px;
    width: 100px;
}
.temperature{
    text-align: center;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}
.tm{
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
    letter-spacing: -3px;
}
.description{
    text-align: center;
    font-size: 18px;
}
hr{
    width: 90%;
    color:white;
}
.humidity{
    margin: 8px 0 0 25px;
}
.line{
    width: 80%;
    height: 1px;
    border-bottom: 0.5px solid white;
    margin: 0 auto;
}
.w_speed{
    margin-left: 25px;
}
.dot{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    top: 75px;
}

