html{
    margin: 0;
    padding: 0;
    
}
.clearfix{
    clear: both;
}
.mobile{
    width: 300px;
    height: 570px;
    background: #232120;
    margin: 10px auto;
    border-radius: 30px;
}
.display{
    width: 250px;
    height: 430px;
    background: white;
    margin: 0 auto;
    position: relative;
    top: 65px;
}
.display h5{
    text-align: center;
    padding-top: 20px;
}
.oval{
    width: 60px;
    height: 12px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 29px;
}
.dot{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    top: 75px;
}
.temperature{
    width: 50%;
    height: 40%;
    text-align: center;
    float: left;
    font-size: 40px;
    
}
.tm{
    position: relative;
    top: 50px;
}
.icon{
    width: 50%;
    height: 40%;
    float:left;
}
.icon img{
    position: relative;
    top: 60px;
    margin-left: 28px;
}
.display #name{
    text-align: center;
    font-size: 30px;
}
.display #description{
    text-align: center;
     font-size: 25px;
}
.display #humidity{
    text-align: center;
}

